html{
    overflow-x: hidden !important;
}

body {
    padding-top: 70px;
}

pre.prettyprint {
    padding: 9.5px !important;
    border: none !important;
    margin-bottom: 0px !important;
    background: transparent !important;
    margin-bottom: 10px !important;
}

.page-header {
    margin-top: 0px !important;
}

.progress{
    background-color: #E8F4FD;
}

nav{
    width: calc(100% - 240px);
}

nav .button-collapse i {
    font-size: 24px !important;
}

/* Styles for Affix/sidebar shamelessly copied from http://getbootstrap.com/assets/css/docs.css */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
    position: static;
}

/* First level of nav */
.bs-sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa;
    border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}

.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #e5e3e9;
    border-right: 1px solid #dbd8e0;
}

.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #563d7c;
    background-color: transparent;
    border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}

.bs-sidebar .nav .nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

/* Mobile down */
@media only screen and (max-width: 600px) {
    .panel {
        padding: 0px !important;
    }
    pre.prettyprint {
        width: calc(100vw - 80px);
    }
}
@media only screen and (max-width: 992px) {
    header {
        width: 100% !important;
    }
}
/* Tablets and up */
@media screen and (min-width: 768px) {

    /* Show the docs nav */
    .bs-sidebar {
        display: block;
    }

    /* Show the hidden subnavs when space allows it */
    .bs-sidebar .nav > .active > ul {
        display: block;
    }
}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {

    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }

    .bs-sidebar.affix {
        position: fixed; /* Undo the static from mobile-first approach */
        top: 60px;
    }

    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile-first approach */
    }

    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* Large desktops and up */
@media screen and (min-width: 1200px) {

    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 270px;
    }
}

ul.side-nav.fixed li:hover,ul.side-nav.fixed li.active {
    background-color: rgba(0, 0, 0, 0.05);
}

.side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
    background-color: rgba(0, 0, 0, 0.05);
}

/** Top Panel **/
#customTable .top-panel {
    background-color: white;
    color: black;
}

/** ToolPanel icons **/
#customTable .top-panel .tool-panel i {
    color: #e91e63;
}

/** Hovering rows **/
#customTable table tbody tr.data-row:hover {
    background: rgba(33, 150, 243, 0.27);
    color: #3f3f3f;
}

/** Columns **/
#customTable table tbody td:nth-child(3) {
    background: #2196f3 !important;
    color: #fff;
    border-bottom: 2px solid #1976d2;
}

/** Table Headers **/
#customTable table thead tr th {
    color: #1976d2;
}

/** Scroll Navigated menu **/
.table-of-contents.pinned {
    top: 80px !important;
}

.side-nav .collapsible-body li.active a, .side-nav.fixed .collapsible-body li.active a {
    color: #000 !important;
}

body {
    background: #e9e9e9;
}

main .panel {
    margin-top: -40px;
}

main .panel, main {
    background: none;
}

.code {
    margin-bottom: 12px;
}

.code > div:not(.empty-state) h4 {
    font-size: 1.2em;
    margin-top: 0px !important;
}

.code div p.range-field {
    margin-bottom: 0px;
}

.code div p {
    margin-bottom: 20px;
}

.code {
    padding: 20px;
    margin-bottom: 12px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.TouchSplitter h4 {
    padding-top: 100px;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}

table tbody tr td img {
    max-width: initial !important;
}

.side-nav {
    height: 100% !important;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important
}

pre {
    padding-top: 20px;
    white-space: pre;
    background: #F3FBFF;
    border: 1px solid rgba(51, 51, 51, .12);
    font-size: 1.2em;
    padding-left: 10px
}

.tag {
    color: #905
}

.attr {
    color: #690
}

.comment {
    color: #999
}

h1 {
    font-size: 2em;
    font-weight: 700;
    color: #777;
    margin: 40px 0 70px;
    text-align: center
}

.sendButton {
    display: block;
    font-size: 16pt
}

.gwt-DialogBox {
    width: 400px
}

.dialogVPanel {
    margin: 5px
}

.serverResponseLabelError {
    color: red
}

#closeButton {
    margin: 15px 6px 6px
}

.gitter-open-chat-button, .gitter-open-chat-button:visited {
    background: #2465c0
}

aside.gitter-chat-embed {
    z-index: 9999
}

/** Carousel **/
#demo-carousel-fixed {
    bottom: 16%;
    position: fixed;
    text-align: center;
    left: calc(50% - 90px);
    z-index: 1;
    z-index: 999;
}