/** InputField - Outlined **/
.input-field.outlined input:focus,
.input-field.outlined textarea:focus,
.input-field.outlined input.picker__input--active {
    border: 2px solid #ffca28;
    box-shadow: none;
}

/** Blockquote **/
blockquote {
    border-left: 5px solid #ffca28 !important;
}

.multiValueSuggestBox-panel:focus {
    border-bottom: 2px solid #ffca28 !important;
}

/** Image Slider **/
.slider .indicators .indicator-item.active {
    background-color: #ffc107;
}

/** Scrollspy **/
.table-of-contents a.active {
    border-left: 2px solid #ffc107 !important;
}

.table-of-contents a:hover {
    border-left: 1px solid #ffc107 !important;
}

/** Progress **/
.progress div {
    background-color: #ffb300;
}

/** Time Picker **/
.lolliclock-header {
    background: #ffc107 !important;
}

.lolliclock-active-button-background {
    background-color: #ffc107 !important;
}

.lolliclock-button {
    color: #ffc107 !important;
}

.lolliclock-canvas-bg {
    fill: rgba(255, 193, 7, 0.25) !important;
}

.lolliclock-canvas-fg {
    fill: #ffc107 !important;
}

.lolliclock-canvas line {
    stroke: rgba(255, 193, 7, 0.5) !important;
}

.lolliclock-tick.active, .lolliclock-tick:hover {
    background-color: #ffd54f !important;
}

/** TimePicker - Outlined **/
.input-field.outlined.timepicker input:focus,
.input-field.outlined.timepicker input.valid{
    border: 2px solid #ffca28;
    box-shadow: none;
}

/** File Uploader **/
.fileuploader .upload-label {
    background-color: #ffc107 !important;
}

.fileuploader .upload-label i {
    background: #fff !important;
    color: #ffc107 !important;
}

.fileuploader.active {
    background: #ffc107 !important;
}

.fileuploader.active .upload-label {
    color: #fff !important;
}

.preview-container .previews .zdrop-info .preview-icon {
    color: #ffc107 !important;
}

.preview-container .header {
    background-color: #ffc107 !important;
}

/** Window **/
.window .window-toolbar {
    background-color: #ffc107;
}

/** Tree Item **/
.tree-item i {
    color: #ffc107;
}

/** Stepper **/
.stepper .step.success > div:first-child i, .stepper .step.success .title, .stepper .step.success .description {
    color: #ffc107 !important;
}

.stepper .step > div:first-child .circle {
    background: #ffc107 !important;
}

/** Rich Editor **/
.editorDialogs .modal .btn, .editorDialogs .modal .btn-large, .note-editor .modal .btn, .note-editor .modal .btn-large {
    background: #ffc107 !important;
}

.editorDialogs .modal .btn-large:hover, .editorDialogs .modal .btn:hover, .note-editor .modal .btn-large:hover, .note-editor .modal .btn:hover, .note-editor .modal .btn.modal-close:hover, .note-editor .modal .file-field .btn:hover, .note-editor .modal .modal-footer .note-link-btn:hover, .note-editor .modal .modal-footer .note-image-btn:hover {
    background: #ffc107 !important;
}

button.waves-effect.waves-light.btn.disabled, button.waves-effect.waves-light.btn.disabled:hover {
    background: #d8d8d7 !important;
}

/** Rating **/
.material-rating {
    color: #ffc107;
}

/** Badge **/
.badge {
    background: #ffa000;
}

/** Tabs **/
.tabs {
    background: #ffc107;
}

/** Table **/
.table-container .top-panel {
    background: #ff8f00;
}

/** Carousel **/
.slick-dots li {
    background-color: rgba(255, 193, 7, 0.23);
}

.slick-dots li.slick-active {
    background: #ffc107;
}

/** ComboBox **/
ul.select2-results__options[aria-multiselectable="true"] li.select2-results__option:not([role="group"])[aria-selected="true"]:after {
    border: 2px solid #ffc107;
    background-color: #ffc107;
}

.input-field.outlined.combobox .select2-container--open .select2-selection {
    border: 2px solid #ffca28;
    box-shadow: none;
}

/** Progress Line Bar **/
.progress-line-bar .progress-item.active {
    background: #ffca28;
}

/** Group Toggle Button **/
.group-toggle-button button.active {
    background: #ffca28;
}