/** Blockquote **/
blockquote {
    border-left: 5px solid #8d6e63 !important;
}

.multiValueSuggestBox-panel:focus {
    border-bottom: 2px solid #8d6e63 !important;
}

/** Image Slider **/
.slider .indicators .indicator-item.active {
    background-color: #795548;
}

/** Scrollspy **/
.table-of-contents a.active {
    border-left: 2px solid #795548 !important;
}

.table-of-contents a:hover {
    border-left: 1px solid #795548 !important;
}

/** Progress**/
.progress div {
    background-color: #6d4c41;
}

/** Time Picker **/
.lolliclock-header {
    background: #795548 !important;
}

.lolliclock-active-button-background {
    background-color: #795548 !important;
}

.lolliclock-button {
    color: #795548 !important;
}

.lolliclock-canvas-bg {
    fill: rgba(121, 85, 72, 0.25) !important
}

.lolliclock-canvas-fg {
    fill: #795548 !important;
}

.lolliclock-canvas line {
    stroke: rgba(121, 85, 72, 0.5) !important;
}

.lolliclock-tick.active, .lolliclock-tick:hover {
    background-color: #a1887f !important;
}

/** File Uploader **/
.fileuploader .upload-label {
    background-color: #795548 !important;
}

.fileuploader .upload-label i {
    background: #fff !important;
    color: #795548 !important;
}

.fileuploader.active {
    background: #795548 !important;
}

.fileuploader.active .upload-label {
    color: #fff !important;
}

.preview-container .previews .zdrop-info .preview-icon {
    color: #795548 !important;
}

.preview-container .header {
    background-color: #795548 !important;
}

/** Window **/
.window .window-toolbar {
    background-color: #795548;
}

/** Tree Item **/
.tree-item i {
    color: #795548;
}

/** Stepper **/
.stepper .step.success > div:first-child i, .stepper .step.success .title, .stepper .step.success .description {
    color: #795548 !important;
}

.stepper .step > div:first-child .circle {
    background: #795548 !important;
}

/** Rich Editor **/
.editorDialogs .modal .btn, .editorDialogs .modal .btn-large, .note-editor .modal .btn, .note-editor .modal .btn-large {
    background: #795548 !important;
}

.editorDialogs .modal .btn-large:hover, .editorDialogs .modal .btn:hover, .note-editor .modal .btn-large:hover, .note-editor .modal .btn:hover, .note-editor .modal .btn.modal-close:hover, .note-editor .modal .file-field .btn:hover, .note-editor .modal .modal-footer .note-link-btn:hover, .note-editor .modal .modal-footer .note-image-btn:hover {
    background: #795548 !important;
}

button.waves-effect.waves-light.btn.disabled, button.waves-effect.waves-light.btn.disabled:hover {
    background: #d8d8d7 !important;
}

/** Rating **/
.material-rating {
    color: #795548;
}

/** Badge **/
.badge {
    background: #5d4037;
}

/** Tabs **/
.tabs {
    background: #795548;
}

/** Table **/
.table-container .top-panel {
    background: #4e342e;
}

/** ComboBox **/
ul.select2-results__options[aria-multiselectable="true"] li.select2-results__option:not([role="group"])[aria-selected="true"]:after {
    border: 2px solid #795548;
    background-color: #795548;
}