/** InputField - Outlined **/
.input-field.outlined input:focus,
.input-field.outlined textarea:focus,
.input-field.outlined input.picker__input--active {
    border: 2px solid #ffa726;
    box-shadow: none;
}

/** Blockquote **/
blockquote {
    border-left: 5px solid #ffa726 !important;
}

.multiValueSuggestBox-panel:focus {
    border-bottom: 2px solid #ffa726 !important;
}

/** Image Slider **/
.slider .indicators .indicator-item.active {
    background-color: #ff9800;
}

/** Scrollspy **/
.table-of-contents a.active {
    border-left: 2px solid #ff9800 !important;
}

.table-of-contents a:hover {
    border-left: 1px solid #ff9800 !important;
}

/** Progress **/
.progress div {
    background-color: #fb8c00;
}

/** Time Picker **/
.lolliclock-header {
    background: #ff9800 !important;
}

.lolliclock-active-button-background {
    background-color: #ff9800 !important;
}

.lolliclock-button {
    color: #ff9800 !important;
}

.lolliclock-canvas-bg {
    fill: rgba(255, 183, 77, 0.25) !important
}

.lolliclock-canvas-fg {
    fill: #ff9800 !important;
}

.lolliclock-canvas line {
    stroke: rgba(255, 183, 77, 0.5) !important;
}

.lolliclock-tick.active, .lolliclock-tick:hover {
    background-color: #ffb74d !important;
}

/** TimePicker - Outlined **/
.input-field.outlined.timepicker input:focus,
.input-field.outlined.timepicker input.valid{
    border: 2px solid #ffa726;
    box-shadow: none;
}

/** File Uploader **/
.fileuploader .upload-label {
    background-color: #ff9800 !important;
}

.fileuploader .upload-label i {
    background: #fff !important;
    color: #ff9800 !important;
}

.fileuploader.active {
    background: #ff9800 !important;
}

.fileuploader.active .upload-label {
    color: #fff !important;
}

.preview-container .previews .zdrop-info .preview-icon {
    color: #ff9800 !important;
}

.preview-container .header {
    background-color: #ff9800 !important;
}

/** Window **/
.window .window-toolbar {
    background-color: #ff9800;
}

/** Tree Item **/
.tree-item i {
    color: #ff9800;
}

/** Stepper **/
.stepper .step.success > div:first-child i, .stepper .step.success .title, .stepper .step.success .description {
    color: #ff9800 !important;
}

.stepper .step > div:first-child .circle {
    background: #ff9800 !important;
}

/** Rich Editor **/
.editorDialogs .modal .btn, .editorDialogs .modal .btn-large, .note-editor .modal .btn, .note-editor .modal .btn-large {
    background: #ff9800 !important;
}

.editorDialogs .modal .btn-large:hover, .editorDialogs .modal .btn:hover, .note-editor .modal .btn-large:hover, .note-editor .modal .btn:hover, .note-editor .modal .btn.modal-close:hover, .note-editor .modal .file-field .btn:hover, .note-editor .modal .modal-footer .note-link-btn:hover, .note-editor .modal .modal-footer .note-image-btn:hover {
    background: #ff9800 !important;
}

button.waves-effect.waves-light.btn.disabled, button.waves-effect.waves-light.btn.disabled:hover {
    background: #d8d8d7 !important;
}

/** Rating **/
.material-rating {
    color: #ff9800;
}

/** Badge **/
.badge {
    background: #f57c00;
}

/** Tabs **/
.tabs {
    background: #ff9800;
}

/** Table **/
.table-container .top-panel {
    background: #ef6c00;
}

/** Carousel **/
.slick-dots li {
    background: rgba(255,152,0,.23);
}

.slick-dots li.slick-active {
    background: #ff9800;
}

/** ComboBox **/
ul.select2-results__options[aria-multiselectable="true"] li.select2-results__option:not([role="group"])[aria-selected="true"]:after {
    border: 2px solid #ff9800;
    background-color: #ff9800;
}

.input-field.outlined.combobox .select2-container--open .select2-selection {
    border: 2px solid #ffa726;
    box-shadow: none;
}

/** Progress Line Bar **/
.progress-line-bar .progress-item.active {
    background: #ff9800;
}

/** Group Toggle Button **/
.group-toggle-button button.active {
    background: #ff9800;
}